#cup[data-frame="1"] {
  background-position-x: 0;
}

#cup[data-frame="2"] {
  background-position-x: -360px;
}

#cup[data-frame="3"] {
  background-position-x: -720px;
}

#cup[data-frame="4"] {
  background-position-x: -1080px;
}

#cup[data-frame="5"] {
  background-position-x: -1440px;
}

#cup[data-frame="6"] {
  background-position-x: -1800px;
}

#cup[data-frame="7"] {
  background-position-x: -2160px;
}

#cup[data-frame="8"] {
  background-position-x: -2520px;
}

#cup[data-frame="9"] {
  background-position-x: -2880px;
}

#cup[data-frame="10"] {
  background-position-x: -3240px;
}

#cup[data-frame="11"] {
  background-position-x: -3600px;
}

#cup[data-frame="12"] {
  background-position-x: -3960px;
}

#cup[data-frame="13"] {
  background-position-x: -4320px;
}
