@font-face {
  font-family: sofiabold;
  src: url("fonts/sofia_pro_bold.otf");
}

@font-face {
  font-family: sofiaregular;
  src: url("fonts/sofia_pro_regular.otf");
}

* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

#primary-text {
  font-family: sofiabold, sans-serif;
}

#secondary-text {
  font-family: sofiaregular, sans-serif;
}

#cup {
  width: 360px;
  height: 540px;
  margin: 0 auto;
  background-size: cover;
  background-image: url(images/gameplay-sprite.png);
}
